# Neon Database Connection String
# Get this from your Neon Dashboard: https://console.neon.tech/
DATABASE_URL='postgresql://neondb_owner:npg_4nEcey3RUYPf@ep-proud-cell-an09yx8u-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
